{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="main-container">
        <div class="sort-options">
            <a href="?sort_by=-create_date" {% if current_sort == '-create_date' %}class="active"{% endif %}>최신순</a>
            <a href="?sort_by=like" {% if current_sort == 'like' %}class="active"{% endif %}>좋아요순</a>
            <a href="?sort_by=reply_count" {% if current_sort == 'reply_count' %}class="active"{% endif %}>댓글 많은 순</a>
        </div>
        <div class="board-grid">
            {% for board in boards %}
            <div class="card board__container board-id-{{ board.id }}">
                <a href="{% url 'board:board_detail' board.id %}">
                    <div class="card-body">
                        <div class="board__img">
                            {% if board.image %}
                            <img src="{{ board.image.url }}" alt="Board Image">
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra %}
<script>
    const requestLike = new XMLHttpRequest();
    const onClickLike = (id) => {
        const url = '/like_ajax/';
        requestLike.open('POST', url, true);
        requestLike.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded'
        );
        requestLike.send(JSON.stringify({id:id}));
    }
    requestLike.onreadystatechange = () => {
        if(requestLike.readyState === XMLHttpRequest.DONE) {
            if (requestLike.status < 400) {
                const {id} = JSON.parse(requestLike.response);
                const element = document.querySelector(`.board-id-${id} .board__like`);
                const originHTML = element.innerHTML;
                const [buttonType, num] = originHTML.split(" ");
                const count = Number(num)  + 1;

                element.innerHTML = `Likes ${count}`;
            }
        }
    }
</script>
    
{% endblock %}
